@media (max-width: 1024px) {
section {
    width: 98vw;
}
#ul-header li {
    margin-left: 1px;
    min-width: 8vw;
}
#add-recente {
    margin-right: 30px;
}
#menu-direito i,a,p,img {
    margin-right:15px;
}
#img-perfil {
    left: -6vw;
}
#icon-seta-baixo {
    position: relative;
    margin-left: -4vw;
}
#mais-info {
    width: 40%;
}
#p-estrelando {
    min-width: 30vw;
}
#p-criação {
    min-width: 20vw;
}
#criação {
    margin-top: 5px;
}
}
@media (max-width: 375px) {
    #img-logo-netlfix {
        width: 10%;
        height: 60%;
    }
}
